<h1>単語帳</h1>
<%= link_to "新しく単語帳を始める", new_work_book_path %>

<% @question_books.each do |question_book| %>
    <div class="question-book">
      <h2>Question Book: <%= question_book.id %></h2>
      <ul>
        <% question_book.work_books.each do |work_book| %>
          <li>
            <h3>Work Book ID: <%= work_book.id %></h3>
          </li>
        <% end %>
        <%= link_to "単語帳を始める", question_test_path(id:question_book.id,number: 1) %>
      </ul>
    </div>
<% end %>