<h1>MainMenu</h1>
<div class="main_menu">
    <div><%= link_to "単語タグマスタ", tags_path %></div>
    <div><%= link_to "単語マスタ", questions_path %></div>
    <div><%= link_to "単語帳", work_books_path %></div>
    <div><%= link_to "ランキング", question_books_path %></div>
</div>  